h1 {
    font: bold 2em Helvetica, Arial;
    color: orange;
    background: rgba(76, 175, 80, 0.3);
    text-align: center;
}
header {
    font-size: 1.25em;
    font-weight: bold;
    color:white;
}

p {
    font-weight: normal;
}

p.date {
    font-style: italic;
    color: grey;
    display: inline;
}


.box1 {
    background-color: lightblue;
    border-left: 10px blue solid;
    padding: 2em 1em;

}

.box2 {
    background-color:rgb(226, 240, 226);
    border-bottom: 3px solid green;
    padding-top: 1em;
    margin-top: 1em;

}

.box3 {
    background:rgb(255, 249, 244) url(Oval.png) no-repeat right top;
    border: dotted bisque;
    border-left: solid darkturquoise;
    border-width: 10px 20px;
    padding: 5em;
}


ul.circle {
    list-style-image: url(horn.svg);
}

ol.roman {
    list-style-type: upper-roman;
    list-style-position: inside;
}

ul.square {
    list-style-type: square;
    text-indent: 1em;
}

a::before{
    content: url(icon.svg);
    padding-right: 0.5em;
}

a:link {
    color: hotpink;
    text-decoration: none;
    margin: 2em;
}

a:visit {
    color: indigo;
}

a:hover {
    color: lightcoral;
    text-decoration: underline;
}

a:active {
    color: blue;
}

.sidebar {
    background-color: grey;
    padding-top: 1em;
    padding-left:1em;
}

.row1 {
    background-color:grey;
    padding-bottom: 1em;
    padding-left:1em;
}


section {
    font-size: 1.25em;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 2px;
    width:25%;
    background-color:rgb(204, 204, 204);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #fff;
}

.flexbox {
    display:flex;
    flex-wrap: nowrap;
}

.right {
    width: 75%;
    background-color:#fff;
    padding:10px;
    border-bottom:1px solid rgb(204, 204, 204);
    border-right:1px solid rgb(204, 204, 204);
}

